services:
  postgres:
    image: postgres:16.3
    container_name: petclinic-postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=petclinic
      - POSTGRES_USER=petclinic
      - POSTGRES_DB=petclinic
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U petclinic -d petclinic" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - petclinic-network

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: petclinic-backend
    ports:
      - "9966:9966"
    environment:
      - SPRING_PROFILES_ACTIVE=postgres,spring-data-jpa
      - POSTGRES_URL=jdbc:postgresql://postgres:5432/petclinic
      - POSTGRES_USER=petclinic
      - POSTGRES_PASS=petclinic
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_SQL_INIT_MODE=always
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - petclinic-network
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9966/petclinic/actuator/health" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 60s

volumes:
  postgres-data:


networks:
  petclinic-network:
    driver: bridge
